<%- include('partials/header'); -%>
<h1><%= title %> </h1>
<p><%= content %> </p>
<a class="btn btn-primary" href="/post/<%= postname %> /update" role="button">edit</a>
<a class="btn btn-primary" href="/post/<%=postname  %> /delete" role="button">delete</a>


<%- include('partials/footer'); -%>